[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
python-telegram-bot = ">=12.4.2"
pymongo = ">=3.10.1"
dnspython = ">=1.16.0"
ujson = ">=2.0.1"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
